*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px; */
    width: 100%;
    height: 100%;
    color: #eee;
    /* overflow: hidden; */
    /* cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23000000' r='4'/%3E%3C/svg%3E") 3 3,auto; */
}

body{
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'poppins';
    overflow-x: hidden;
    transition: background 650ms ease;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}
/* End GLobal */

/* Start Header */
header{
    width: 100%;
    height: 100%;
}

.landing-page{
    height: 100%;
    width: 100%;
}

.nav-bar{
    width: 100%;
    height: 150px;
    /* margin: 2rem 0 0 4rem; */
    /* padding: 2rem; */
    user-select: none;
}

.brand{
    width: 80px;
    height: 100%;
    margin: 0 2rem;
    padding: 1rem 0;
}

.brand img{
    /* padding: 0.5rem; */
    /* width: 40%; */
    /* height: 100%; */
    user-select: none;
}

.brand-inside{
    width: 60px;
    height: 60px;
    margin: 0 0 1rem 0;
    user-select: none;
}

.top-nav{
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    z-index: 50;
    background-color: #000;
    /* border-bottom-right-radius: 100%; */
    border-bottom-left-radius: 100%;
    transition: all 1000ms cubic-bezier(0,.52,.7,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    margin: 0 1rem;
}

.nav-link{
    font-size: 3rem;
    color: #fff;
    background: linear-gradient(to bottom, white 0%, white 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
}

.nav-link:hover, 
.nav-link:focus{
    color: white;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;      
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

#nav-icon1 {
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 2.5rem;
    height: 4rem;
    cursor: pointer;
    z-index: 1500;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1.open span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }
  
  #nav-icon1.open span:nth-child(2) {
    background-color: #fff;
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    background-color: #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

.container{
	width: 100%;
	/* height: 100%; */
    position: relative;
    top: 3rem;
}

.container .title {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}

.container .title .block {
	width: 0%;
	height: inherit;
	background: #000;
	position: absolute;
	animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	display: flex;
}

.container .title h1 {
	font-family: 'Poppins';
	color: #000;
    font-size: 4rem;
    font-weight: bold;
	-webkit-animation: mainFadeIn 2s forwards;
	-o-animation: mainFadeIn 2s forwards;
	animation: mainFadeIn 2s forwards;
	animation-delay: 1.6s;
	opacity: 0;
	display: flex;
	align-items: baseline;
	position: relative;
}

.container .title #exp{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.container .title #exp:hover{
    color: #000;
}

.container .title h1::selection{
    color: #fff;
    background-color: #000;
}

@keyframes mainBlock {
	0% {
		width: 0%;
		left: 0;
	}

	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes mainFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.scroll-down{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse{
    width: 1.5rem;
    height: 3rem;
    border: 2px solid #000;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}

.mouse span{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid transparent;
    border-right-color: #000;
    border-bottom-color: #000;
    transform: rotate(45deg);
    animation: arrow-down 0.5s alternate infinite;
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}

.media {
    position: absolute;
    top: 38%;
    z-index: 1;
    right: 1%;
}

.media ul {
    list-style: none;
}

.media ul li a{
    color: #000;
    padding: 12px 0;
    display: inline-block !important;
}

.media ul li a:hover{
   color: grey;
}

@media screen and (max-width: 1024px){
    .nav-list{
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .title h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px){
    body{
        /* background-size: cover; */
        overflow-x: hidden;
    }
    
    .nav-list li{
        margin: 0.2rem 0;
    }

    .nav-link{
        font-size: 3rem;
    }

    .container .title h1{
        font-size: 3.5rem;
    }

}

@media screen and (max-width:600px){
    .nav-link{
        font-size: 1.8rem;
    }

    .container .title h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:480px){
    .container .title h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:380px){
    .container .title h1{
        font-size: 2.5rem;
    }

    .brand{
        width: 60px;
        height: 100%;
    }
}

/* End Header */

.text-slide-wrapper{
    margin-top: 5rem;
    overflow: hidden;
    height: auto;
}

.text-muon-row-div {
    display: inline-flex;
    max-width: 100%;
    transform: rotate(2deg);
}

.text-muon-row {
    white-space: nowrap;
    animation: text-create-animation 15s linear infinite;
}

.text-muon-row span{
    padding-right: 2vw;
}

.text-muon-row span::selection{
    color: #fff;
    background-color: #000;
}

.inner-title-stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

@keyframes text-create-animation{
0% {
    transform: translate(0,0);
}
100% {
    transform: translate(-100%,0);
}
}

.text-service-row-div {
    /* margin-top: 2rem; */
    display: inline-flex;
    transform: rotate(2deg);
    max-width: 100%;
}

.text-service-row {
    white-space: nowrap;
    animation: text-service-animation 15s linear infinite;
    width: max-content;
}

.text-service-row span {
    padding-right: 2vw;
}

.text-service-row-div span a {
    display: inline-table;
}

.home-sliding-big-text {
    font-size: 5rem;
    line-height: 7.2vw;
    font-weight: 800;
}

.home-sliding-big-text a{
    color: #fff;
}

@keyframes text-service-animation{
    0% {
        transform: translate(-100%,0);
    }
    100% {
        transform: translate(0%,0);
    }
}

@media (max-width: 767px){
    .home-sliding-big-text {
        font-size: 80px;
        line-height: 66px;
    }
}

@media (max-width: 480px){
    .home-sliding-big-text {
        font-size: 72px;
        line-height: 54px;
    }
}

/* Start services */
.services{
    margin-top: 5rem;
    /* position: relative; */
}

.services-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.services-heading h1{
    font-size: 4rem;
    color: rgba(255,255,255, .3);
    /* text-transform: lowercase; */
    font-weight: 500;
    position: relative;
}

.services-heading h6{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.service-container{
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.has-margin-right{
    margin-right: 5rem;
}

.services-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.services-item:last-child{
    margin-bottom: 0;
}

.services-img{
    flex:1;
}

#services-design{
    width: 80%;
}

.services-description{
    flex: 1;
}

.services-description h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.services-description p{
    color: rgb(165, 165, 165);
    font-size: 1.4rem;
    font-weight: 300;
}

@media screen and (max-width:600px){
    .services-item{
        flex-direction: column;
    }

    services-img{
        margin: 0 0 2rem 0;
        order:1;
    }

    .services-description{
        margin: 0;
        order:2;
    }
}
/* End services */

/* About Section */
.about-container{
    position: relative;
    /* margin-right: 5rem; */
    margin-top: 4rem;
}

.about-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.about-heading h1{
    font-size: 4rem;
    /* color: rgba(255,255,255, .3); */
    color: black;
    /* text-transform: lowercase; */
    font-weight: 500;
    position: relative;
}

.about-heading h6{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}

.about-content{
    width: 50%;
    /* margin-left: 10%; */
    text-align: center;
    margin: auto;
}

.about-content p{
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}


.team-container {
    color: #000;
    margin: 5rem 1rem;
  }
  
  .heading {
    font-size: 60px;
    color: white;
  }
  
  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .profile {
    margin: 2rem 2rem;
  }
  
  .profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
  }
  
  .profile:hover .profile-img {
    filter: grayscale(0);
  }
  
  .user-name {
    margin-top: 30px;
    font-size: 35px;
  }
  
  .profile h5 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(134, 134, 134);
  }
  
  .profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }
  
.social-links a{
    display: inline-block;
    height: 32px;
    width: 32px;
    /* background-color: #000; */
    color: #000;
    border-radius: 50%;
    /* margin: 0 2px; */
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    transition: all 0.5s ease;
}


.social-links a:hover{
    color: rgb(196, 196, 196);
} 

@media screen and (max-width:600px){
    .about-content{
        width: 90%;
    }

    .about-content p{
        font-size: 1rem;
    }
}

.contact-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.contact-heading h1{
    font-size: 4rem;
    color: black;
    font-weight: 500;
    position: relative;
}

.contact-heading h6{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}

.contact-form{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gif-wrapper{
    width: 50%;
    padding: 3rem 0 0;
}

.gif-wrapper img{
    width: 100%;
}

.form-wrapper{
    width: 50%;
    background-color: #000;
    padding: 2rem;
}

.form {
	position: relative;
}

h2 {
    color: #fff;
    font-weight: 700;
    margin-top: 2rem;
}

.form label{
    margin-top: 2rem;
    padding-left: 10px;
    font-weight: 700;
    color: #fff;
}

input {
	width: 100%;
	padding: 10px;
	background: none;
	outline: none;
	border: 0;
    transition: all .3s;
	border-bottom: 2px solid #fff;
	color: #fff;
}

button {
	float: right;
	padding: 8px 12px;
	margin: 2rem 0;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100px;
    border-radius: 30px;
}

button:focus{
    outline: none;
}

.button-2 {
    color: #fff;
    border: 3px solid #fff;
    background-image: -webkit-linear-gradient(30deg, #000 50%, transparent 50%);
    background-image: linear-gradient(30deg, #000 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .button-2:hover {
    background-position: 100%;
    color: #000;
  }

  .alert{
    text-align: center;
    padding: 10px;
    background-color: #16A085;
    color: white;
    margin-top: 30px;
    display: none;
    transition: 0.6s ease;
}

  @media screen and (max-width:768px){
      .contact-form{
          flex-direction: column;
      }

      .gif-wrapper{
        width: 100%;
        margin-bottom: 2rem;
        padding: 0;
    }
    
    .form-wrapper{
        width: 100%;
    }
  }

  @media screen and (max-width:480px){
    .form input::placeholder{
        font-size: 0.75rem;
    }
  }


  /* Start footer */
.copyright{
    width: 100%;
    text-align: center;
    background-color: black;
    position: relative;
}

.footer-wrapper{
    height: 70px;
    padding: 20px;
}

.up{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    top: -2.5rem;
    right: 2rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: black;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1rem;
    color: #fff;
}
/* End footer */

/* Work Section */
.text-work-wrapper {
    margin-top: 5rem;
    overflow: hidden;
    width: 100%;
}

.text-work-row-div {
    /* margin-top: 2rem; */
    display: inline-flex;
    transform: rotate(2deg);
    max-width: 100%;
}

.text-work-row {
    white-space: nowrap;
    animation: text-service-animation 15s linear infinite;
    width: max-content;
}

.text-work-row span {
    padding-right: 2vw;
}

.text-work-row-div span a {
    display: inline-table;
}

.home-sliding-big-text {
    font-size: 5rem;
    line-height: 7.2vw;
    font-weight: 800;
}

.home-sliding-big-text a {
    color: #fff;
}

@keyframes text-service-animation {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0%, 0);
    }
}

@media (max-width: 767px) {
    .home-sliding-big-text {
        font-size: 60px;
        line-height: 66px;
    }
}

@media (max-width: 480px) {
    .home-sliding-big-text {
        font-size: 42px;
        line-height: 54px;
    }
}


.work-heading {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.work-heading h1 {
    font-size: 4rem;
    color: rgba(255, 255, 255, .3);
    /* text-transform: lowercase; */
    font-weight: 500;
    position: relative;
}

@media screen and (max-width:480px) {
    .work-heading h1 {
        font-size: 2.8rem;
    }

    .services-heading h1 {
        font-size: 2.8rem;
    }

    .about-heading h1 {
        font-size: 2.8rem;
    }

    .contact-heading h1 {
        font-size: 2.8rem;
    }
}

.work-heading h6 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.work {
    margin: 5rem 0 10rem;
/*     height: 100%; */
    overflow-x: hidden;
}

.work-container {
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.work-has-margin-right {
    margin-right: 3rem;
}

.work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.work-item:last-child {
    margin-bottom: 0;
}

.work-img {
    flex: auto;

}

#hound {
    width: 100%;
    /* box-shadow: 0 25px 50px -12px rgba(255, 75, 0, 0.25); */
}

#venk {
    width: 100%;
    float: right;
    /* box-shadow: 0 25px 50px -12px rgba(16, 75, 126, 0.75); */
}

.work-description {
    flex: 1;
    /* position: absolute; */
}

.work-number h1 {
    position: absolute;
    color: rgb(100, 100, 100);
    font-size: 5rem;
    /* z-index: -2; */
}

.hound .work-number {
    float: left;
}

.venk .work-number {
    float: right;
}

.work-description h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}



.hound .work-description h1 {
    color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.venk .work-description h1 {
    color: #fff;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.work-description h1:hover {
    color: #fff;
}

.work-description p {
    color: rgb(165, 165, 165);
    font-size: 1.4rem;
    font-weight: 300;
}

@media screen and (max-width:600px) {
    .work-item {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .work-img {
        margin: 0 0 0rem 0;
        order: 1;
    }

    .work-description {
        margin: 0;
        order: 2;
    }

    .work-description h1 {
        font-size: 2rem;
    }
}

/* Work Section end */

  
