*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

/* Start Nav Bar  */

header{
    width: 100%;
    background-color: #121212;
}

.container-header{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img{
    width: 3rem;
    height: 3rem;
    display: flex;
    margin: auto;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-link{
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin: 0 2rem;
    color: #fff;
    transform: scale(0);
    transition: transform 650ms;
}

.nav-link:hover{
    color: #6adb90;
}

.nav-item{
    position: relative;
    line-height: 4rem;
    transition-delay: .5s;
    visibility: hidden;
}

.nav-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6adb90;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-item:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.hamburger{
    /* position: fixed; */
    width: 2rem;
    height: 1rem;
    position: relative;
    cursor: pointer;
    line-height: 5rem;
    z-index: 1500;
}

.hamburger .line{
    width: 100%;
    height: 2px;
    background-color: #6adb90;
    position: absolute;
    display: block;
    right: 0;
    transition: all 650ms;
}

.hamburger .line:nth-child(1){
    top: 0;
}

.hamburger .line:nth-child(2){
    top: 50%;
    margin-top: -1px;
    width: 1.8rem;
}

.hamburger .line:nth-child(3){
    top: 100%;
    margin-top: -2px;
    width: 1rem;
} 

.hamburger.active .line:nth-child(1){
    transform: translateY(0.5rem) rotate(45deg);
    width: 1rem;
}

.hamburger.active .line:nth-child(2){
    opacity: 0;
}

.hamburger.active .line:nth-child(3){
    transform: translateY(-0.5rem) rotate(-45deg);
    width: 1rem;
}

.nav-list.active .nav-link{
    transform: scale(1);
}

.nav-list.active .nav-item{
    visibility: visible;
    transition-delay: initial;
}

.nav-list.active .nav-item:nth-child(1) .nav-link{
    transition-delay: 0.5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link{
    transition-delay: 0.4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link{
    transition-delay: 0.3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link{
    transition-delay: 0.2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link{
    transition-delay: 0.1s;
}

/* Reverse */

.nav-list .nav-item:nth-child(1) .nav-link{
    transition-delay: 0.1s;
}

.nav-list .nav-item:nth-child(2) .nav-link{
    transition-delay: 0.2s;
}

.nav-list .nav-item:nth-child(3) .nav-link{
    transition-delay: 0.3s;
}

.nav-list .nav-item:nth-child(4) .nav-link{
    transition-delay: 0.4s;
}

.nav-list .nav-item:nth-child(5) .nav-link{
    transition-delay: 0.5s;
}

/* End Nav Bar */

/* Start Landing page */
.fwh-slide{
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    /* user-select: none; */
}

.loader img{
    width: 100%;
}

.content{
    position: relative;
      top: 10%;
      left: 10%;
      z-index: 1;
}

.mu{
    color: white;
    letter-spacing: 5px;
    position: relative;
    font-weight: 900;
}

.mu .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.mu .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

h1 {
    color: #fff;
    font-weight: bolder !important;
    font-size: 2.9rem !important;
    margin-bottom: 0px;
}

#tagline1, #tagline2  {
    width: 48%;
}

p {
    color: #6adb90;
    font-weight: 200;
    line-height: 1.75rem;
    margin-top: 0;
    margin-bottom: 0;
}

.p2{
    font-weight: 600;
}

.media {
    position: fixed;
    top: 38%;
    z-index: 1;
    right: 6%;
}

.media ul {
    /* position: absolute; */
    list-style: none;
}

.media ul li a{
    color: grey;
    padding: 12px 0;
    display: inline-block !important;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
    z-index: 2;
}

.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 40%;
    opacity: 0.7;    
}

.content button{
    margin-top: 30px;
    background: none;
    color: #6adb90;
    border: 1px solid #6adb90;
    padding: 10px 30px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s linear;
    cursor: pointer;
  }
  
.content button:hover{
    background: #6adb90;
    color: black;
}

.ringOne img {
    animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
    animation: rotateFirstRing 4s linear infinite;
}

@keyframes rotateFirstRing {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}

/* services section */
/* #services{
    margin: 100px 0;
} */

#services h1{
    text-align: center;
    /* margin-left: 10%; */
    margin: 0px auto 140px !important;
    color: #fff;
}

.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
    /* margin-bottom: 100px; */
}

.service{
    background-color: #121212;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.8s;
}

.service-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -90px auto 0;
    background-color: #121212;
    /* border: 5px solid #6adb90; */
}

.service-logo i{
    font-size: 40px;
    margin-top: 20px;
    transition: transform 1s;
    color: #6adb90;
}

.service h4{
    height: 35px;
    width: 80%;
    background-color: #121212;
    margin: 0px auto 40px;
    position: relative;
    color: #fff;
}

.service h4::after{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 10%;
    background: linear-gradient(to right, #121212, #6adb90);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 10%;
    background: linear-gradient(to right, #6adb90,  #121212);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowOne{
    height: 200px;
    width: 80%;
    background: #121212;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.8s;
}

.shadowTwo{
    height: 200px;
    width: 64%;
    background: #121212;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}

.main:hover .shadowOne{
    transform: translateY(-25px);
}

.main:hover i{
    transform: rotate(360deg);
}
/* services section end */

/* team section */
.team-section{
   background-color: #121212;
    min-height: 100vh;
    padding: 70px 50px 30px 50px;
}

.container-team{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.team-section .section-title{
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-section .section-title h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #fff;
}

.team-section .section-title p{
    font-size: 16px;
    text-align: center;
    margin: 30px auto 0;
    color: #6adb90;
    width: 70%;
}

.team-section .team-items{
     flex-basis: 100%;
     max-width: 100%;
     display: flex;
     flex-wrap: wrap;   
     justify-content: space-around;
}

.team-section .team-items .item{
    flex-basis: calc(25% - 30px);
    max-width: calc(25% - 30px);
    transition: all .5s ease;
    margin-bottom: 40px;
}

.team-section .team-items .item img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-section .team-items .item .inner{
    position: relative;
    z-index: 11;
    padding: 0 15px;
}

.team-section .team-items .item .inner .info{
    background-color: rgba(18, 18, 18, 0.5);
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-top: -40px;
}

.team-section .team-items .item:hover .info{
    transform: translateY(-20px);
}

.team-section .team-items .item:hover{
    transform: translateY(-10px);
}

.team-section .team-items .item .inner .info h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #6adb90;
}

.team-section .team-items .item .inner .info p{
    font-size: 16px;
    font-weight: 600;
    color: #6adb90;
    margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
    padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
    display: inline-block;
    height: 32px;
    width: 32px;
    /* background-color: #fff; */
    color: #6adb90;
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
    box-shadow: 0 0 10px #6adb90;
} 
/* team section end */

/* Start contact */
#particles-js{
    height: 100vh;
    margin-top: 100px;
}

.contact-section{
    position: absolute;
    width: 100%;
    margin-top: 13%;
}

.container-contact{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.section-heading h1{
    font-size: 5rem;
    color: white;
    text-transform: lowercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.contact .container{
    padding-top: 20px;
    /* background-color: rgba(22, 22, 22, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1); */
}

form{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

input,
select,
textarea{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 30px;
}
  
input[type="submit"]{
    width: initial;
    background: none;
    color: #6adb90;
    border: 1px solid #6adb90;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 650ms;
    cursor: pointer;
}

input[type="submit"]:hover{
    border: 1px solid;
    background-color: #6adb90;
    color: black;
}

/* End contact */

/* Start footer */
.copyright{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 1rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #eee;
    top: -1rem;
    right: 4.5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: black;
    font-size: 1rem;
    margin: auto;
}

.copyright p{
    font-size: 1rem;
}
/* End footer */

/* Start animations */
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(101, 226, 178, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(101, 226, 178, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(101, 226, 178, 0);
    }
}
/* End animations */

/* Responsive */
@media screen and (max-width: 1024px) {
    .fwh-slide{
        height: 50vh;
    }

    .team-section{
        background-color: #121212;
         min-height: 50vh;
    }

    #particles-js{
        height: 100%;
    }

    .ring {
        margin: 0%;
        padding: 0%;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 2;
        width: 40%;
        opacity: 0.7;    
    }

    .media {
        position: fixed;
        top: 18%;
        z-index: 1;
        right: 6%;
    }
}

@media screen and (max-width: 991px) {
    .team-section .team-items .item{
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    .fwh-slide{
        height: 80vh;
    }

    .fwh-slide:nth-of-type(1){
        height: 60vh;
    }

    .fwh-slide:nth-of-type(3){
        height: 60vh;
    }

    #tagline1, #tagline2  {
        width: 65%;
    }

    .team-section{
        background-color: #121212;
         min-height: 130vh;
    }

    #particles-js{
        height: 100%;
        /* margin-top: 100px; */
    }

    .container-contact{
        width: 90%;
        max-width: 120rem;
        height: 60vh;
    }

    .ring {
        margin: 0%;
        padding: 0%;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 2;
        width: 40%;
        opacity: 0.7;    
    }

    .media {
        position: fixed;
        top: 18%;
        z-index: 1;
        right: 6%;
    }
    
    .nav-list{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        position: fixed;
        left: 0;
        bottom: -100vh;
        transition: bottom 650ms;
        z-index: 1000;
    }

    .nav-list.active{
        bottom: 0;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .team-section .team-items .item{
        flex-basis: calc(50% - 30px);
        max-width: calc(50% -30px);
    }
}

@media screen and (max-width:600px){
    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }
}

@media screen and (max-width: 414px) {
    .fwh-slide{
        height: 100vh;
    }

    .fwh-slide:nth-of-type(1){
        height: 100vh;
    }

    .fwh-slide:nth-of-type(2){
        height: 190vh;
    }

    .fwh-slide:nth-of-type(3){
        height: 65vh;
    }

    .content{
        top: 1%;
    }

    #tagline1, #tagline2{
        width: 80%;
    }

    .main{
        width: 100%;
        min-height: 480px;
        text-align: center;
        position: relative;
        cursor: pointer;
        /* margin-bottom: 100px; */
    }

    .media{
        display: none;
    }

    .team-section{
        background-color: #121212;
         min-height: 150vh;
    }

    .team-section .section-title p{
        width: 100%;
    }

}

@media screen and (max-width: 375px) , screen and (max-height: 667px) {
    .fwh-slide:nth-of-type(1){
        height: 115vh;
    }

    .fwh-slide:nth-of-type(2){
        height: 220vh;
    }

    .team-section{
        min-height: 175vh;
    }

    .fwh-slide:nth-of-type(3){
        height: 75vh;
    }
}

@media screen and (max-width: 360px) , screen and (max-height: 640px) {
    .fwh-slide:nth-of-type(1){
        height: 130vh;
    }

    .fwh-slide:nth-of-type(2){
        height: 240vh;
    }

    .team-section{
        min-height: 190vh;
    }

    .fwh-slide:nth-of-type(3){
        height: 80vh;
    }

    .team-section .team-items .item .inner .info{
        padding: 20px 0;
        border-radius: 8px;
        transition: all .5s ease;
    }
}

@media screen and (max-width: 320px) , screen and (max-height: 568px) {
    .fwh-slide:nth-of-type(1){
        height: 150vh;
    }

    .fwh-slide:nth-of-type(2){
        height: 260vh;
    }

    .team-section{
        min-height: 210vh;
    }

    .fwh-slide:nth-of-type(3){
        height: 85vh;
    }

    .team-section .team-items .item .inner .info{
        padding: 20px 0;
        border-radius: 8px;
        transition: all .5s ease;
    }
}