* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #dbe7ed;
}

/* Fullscreen btn */
#fullscreen-btn {
  background-color: #96cdeb;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

#fullscreen-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  margin: 1rem 0;
}

.timer-section-wrapper {
  width: 50%;
  order: 1;
}

.currentDateTimeWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentDateTimeWrapper h3 {
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.currentDateTime {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentDateTime p {
  font-size: 2.4rem;
}

.currentDateTime #currentDate {
  margin-right: 1rem;
}

.controls {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

.button {
  color: #000;
  font-size: 1.8vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  color: white;
}

.stopwatch {
  font-size: 8vw;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.results li {
  font-size: 1.4rem;
}

.timer-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.timer-section form input {
  background-color: none;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  font-size: 1rem;
}

input[type="text"]:disabled {
  background: rgb(256, 256, 256);
  color: #000;
  font-weight: 700;
}

input[type="text"]:focus {
  outline: none;
}

input[type="button"]:focus {
  outline: none;
  background-color: rgb(221, 221, 221);
}

.input-section-wrapper {
  width: 50%;
  order: 2;
}

.input-section-wrapper h1 {
  text-align: center;
}

.input-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-form form input {
  background-color: none;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  font-size: 1rem;
}

.form-btns {
  display: flex;
  margin-bottom: 1rem;
}

.input-form form button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 725px) {
  .main-wrapper {
    flex-direction: column;
  }

  .timer-section-wrapper {
    width: 100%;
    order: 2;
    margin-top: 2rem;
  }

  .input-section-wrapper {
    width: 100%;
    order: 1;
  }

  .input-form form input {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .main-wrapper {
    padding: 0 1rem;
  }

  .input-form form input {
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .currentDateTimeWrapper h3 {
    margin-bottom: 0.2rem;
    font-size: 1.7rem;
  }

  .currentDateTime p {
    font-size: 1.4rem;
  }

  .button {
    font-size: 0.8rem;
    margin: 0 0.5em;
  }

  .stopwatch {
    font-size: 1.4rem;
  }
}
